@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif; /* Cambié Poppins (no importada) por Inter */
    background-color: #0f0f0f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url("imagenes/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #040404;
    border-bottom: 1px solid #ffffff29;
    padding: 10px 20px; /* Añadido para mejor spacing */
}

.logo {
    color: #a70a15;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s ease;
}

.menu .navbar ul li a:hover {
    color: #e1130d;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    display: none;
    cursor: pointer;
}

.header-info h1 {
    color: #e1130d;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.header-info p {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 10px;
    background-color: #e1130d;
    font-size: 20px; /* Corregido “20 px” */
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.btn-1:hover {
    background-color: #a70a15;
}

.portafolio {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.portafolio-1 {
    width: 50%;
    padding-right: 150px;
}

.portafolio-1 h2 {
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}

.portafolio-1 p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 35px;
}

.portafolio-1 span {
    color: #a70a15;
}

.btn-2 {
    display: inline-block;
    padding: 8px 45px;
    border-radius: 20px;
    background-color: #e1130d;
    font-size: 18px; /* Corregido “18 px” */
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.btn-2:hover {
    background-color: #a70a15;
}

/* IMÁGENES */
.img-1, .img-2, .img-3, .img-4 {
    margin-right: 20px;
}

.img-1 { width: 250px; }
.img-2 { width: 291px; }
.img-3 { width: 260px; }
.img-4 { width: 280px; }

.footer {
    border-top: 1px solid #ffffff29;
    padding: 50px 0; /* Corregido “pad:” */
    display: flex;
    justify-content: space-between;
    background-color: #040404;
}

.footer h3 {
    color: #a70a15;
    font-size: 25px;
    font-weight: 800;
}

.links ul {
    display: flex;
}

.links ul li {
    margin-right: 35px;
}

.links ul li a {
    color: #818181;
}

/* RESPONSIVE */
@media(max-width:991px){

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: block; /* Corregido “initial” */
    }

    .header-content {
        padding: 30px;
    }

    .header-info h1 {
        font-size: 50px;
        margin-bottom: 5px;
    }

    .portafolio {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }

    .portafolio-1 {
        width: 100%;
        padding: 0;
        order: 1;
    }

    .btn-2 {
        margin-bottom: 35px;
    }

    .portafolio-2 {
        order: 2;
        width: 100%;
        align-items: center;
    }

    .img-1, .img-2 {
        margin: 0 0 80px 0;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer h3 {
        margin-bottom: 15px;
    }

    .links ul li {
        margin: 0 10px;
    }
}
.portafolio.full-width .portafolio-1 {
    width: 100%;
    padding-right: 0;
}